<div class="container">
    <nav class="row">
      <div class="nav-wrapper">
        <span class="brand-logo center">{{ config.title }}</span>
      </div>
    </nav>
    <div class="row">
      <input
        class="col s8"
        type="text"
        placeholder="Dodaj zadanie i datę wykonania"
      />
      <input class="col s2 disabled" type="date" />
      <button class="btn-floating">+</button>
    </div>
  
    <ul class="collection">
      <li class="collection-item row">
        <span class="col s10">{{ config.task }}</span>
        <div class="col s2 right-align">
          <button class="btn-floating btn-small red">
            <i class="material-icons">remove</i>
          </button>
          <button class="btn-floating btn-small green ml-5">
            <i class="material-icons">check</i>
          </button>
        </div>
      </li>
      <li class="collection-item row">
        <span class="col done">{{ config.occurtask }}</span>
      </li>
    </ul>
    <h1>{{ config.timecomunicat }}{{ config.date | date: 'h:mm a'}}</h1>
  
    <button class="btn red">Wyczyść</button>
  
    <footer class="page-footer mt-5">
      <div class="footer-copyright">
        <div class="container">
          {{ config.date | date: 'y'}}  {{ config.footer }}
        </div>
        <ul class="horizontal">
          <li><a href="javascript:void(0)">Contact</a></li>
          </ul>>
        </div>
    </footer>
  </div>