  <div class = "background">
  <div class="container">
   <i class = "Nag">Lista Zadań</i>
  <nav class="row">
      <div class="nav-wrapper">
      </div>
    </nav>
    
    <div class="row">
    <div class="topnav">
      <input  type="date" class="date" [(ngModel)]="taskDate" />
      <input type="text" placeholder="Dodaj zadanie i datę wykonania"  [(ngModel)]="taskName"/>
     <a class="active"  
     (click)="createTask();" 
     >Dodaj zadanie</a>
     </div>
     <ul class="collection" *ngIf="tasks.length > 0; else noTasks">
      <ng-container *ngFor="let task of tasks; let i = index" [ngSwitch]="task.done">
        <li class="collection-item row" *ngSwitchCase="false">
          
          <span class="col s10">
          {{i + 1}}{{task.name}} -{{task.deadline | date: 'd.MM EEEE':'':'pl'}}
        </span>
       
        <div class="col s2 right-align">
          <button class="add" (click)="markTaskAsDone(task)">
            <i class="material-icons" >+</i>
          </button>
          <button class="undo">
            <i class="material-icons2">-</i>
          </button>
        </div>
      </li>
      <li class="collection-item row" *ngSwitchCase="true">
        <span class="col done">{{task.name}}</span>
      </li>
    </ng-container>
  </ul>

    <ng-template #noTasks>
      <h1>Dzisiaj brak zadań 😁</h1>
    </ng-template>

    <button
    class="btn red"
    (click)="clearTasks()"
    [disabled]="tasks.length === 0"
  >
    Wyczyść
  </button>
    
      <h3>{{ config.timecomunicat }}{{ config.date | date: 'h:mm a'}}</h3>
  
      <footer class="page-footer mt-5">
      <div class="footer-copyright">
        <div class="container">
          {{ config.date | date: 'y'}}  {{ config.footer }}
        </div>
        </div>
    </footer>
  </div>
</div>