<div class="container">
    <nav class="row">
      <div class="nav-wrapper">
        <span class="brand-logo center">{{ config.title }}</span>
      </div>
    </nav>
    <div class="row">
      <input
        class="col s8" 
        type="text"
        placeholder="Dodaj zadanie i datę wykonania"
          #nameInput
        />
      <input class="col s2 disabled" type="date" />
      <button class="btn-floating" (click)="createTask(nameInput.value)" >+</button>
    </div>
  
    <ul class="collection">
      <li class="collection-item row" *ngFor="let task of tasks; let i = index">
        
        <span class="col s10">{{i + 1}}{{task.name}} -{{task.deadline | date: 'd.MM EEEE':'':'pl'}}</span>
        <div class="col s2 right-align">
          <button class="add">
            <i class="material-icons">+</i>
          </button>
          <button class="undo">
            <i class="material-icons2">-</i>
          </button>
        </div>
      </li>
       <li class="collection-item row">
        <span class="col done">{{ config.occurtask }}</span>
      </li>
    </ul>
    <button class="clean" (click)="clearTasks() ">
      Wyczyść
      </button>
    
      <h1>{{ config.timecomunicat }}{{ config.date | date: 'h:mm a'}}</h1>
  
      <footer class="page-footer mt-5">
      <div class="footer-copyright">
        <div class="container">
          {{ config.date | date: 'y'}}  {{ config.footer }}
        </div>
        <ul class="horizontal">
          <li><a href="javascript:void(0)">Contact</a></li>
          </ul>>
        </div>
    </footer>
  </div>